body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding-left: 1rem;
}

.subheader {
    margin-top: 2rem;
}

.navbar {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background: #E6E6E6;
}

.navbar-default .navbar-brand {
    color: black;
}

.main-view {
    margin-top: 5rem;
}

div.alert {
    padding: 15px;
    background: #1f1408;
    color: white;
    border: none;
    border-radius: 0rem;
    margin-bottom: 0rem;
    position: relative;
}

div.alert span.header {
    font-size: 1.5rem;
}

div.alert ul {
    padding-left: 0rem;
    margin-top: 1rem;
    color: #cccccc;
    list-style-type: none;
    font-weight: 300;
}

div.alert button.close {
    padding: 1rem;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 0.5rem;
    right: 0;
    margin-top: 0rem;
}

div.alert button:hover {
    box-shadow: none;
    opacity: 0.8;
}

ul.win-list {
    list-style-type: none;
    padding-left: 0px;
}

ul.win-list.selectable li {
    display: block;
    padding: 1rem;
}

ul.win-list.selectable li:hover {
    cursor: pointer;
    background: #E6E6E6;
}

ul.win-list img.thumb {
    float: left;
    background: #CF7934;
    margin-right: 1rem;
    padding: 1rem;
    width: 6rem;
}

ul.win-list li.inactive img.thumb {
    background: #CECECE;
}

div.float-clear {
    clear: both;
}

span.desc {
    color: #666666;
}

div.tools-panel {
    padding: 1rem;
    padding-right: 0rem;
    color: black;
}

div.tools-panel .tool-item {
    margin-right: 2rem;
}

div.tools-panel .tool-item.single {
    margin-right: 0rem;
}

div.tools-panel .tool-item input {
    padding: 0.5rem 1rem;
    border: solid 0.25rem #949494;
    width: 100%;
    outline: none;
}

div.dropdown {
    display: inline-block;
}

div .dropdown-menu {
    border-radius: 0rem;
    box-shadow: none;
    padding: 0rem;
}

div .dropdown-menu>li>a {
    padding: 1rem 2rem;
}

div.tools-panel .tool-item .action,
span.text-selection {
    cursor: pointer;
}

span.active-text,
div.tools-panel span.text-selection,
div.tools-panel .tool-item .action {
    color: #CF7934;
}

button {
    background: #cccccc;
    color: black;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

button:hover {
    box-shadow: inset 0 0 0 2px #7a7a7a;
}

img.back-button {
    float: left;
    padding: 1.5rem;
    width: 5.25rem;
    cursor: pointer;
    margin-right: 1rem;
}

img.back-button:hover {
    background: #CECECE;
}

div.table {
    display: table;
    width: 100%;
}

div.table-cell {
    display: table-cell;
}

div.side-bar {
    background: #F2F2F2;
    width: 5.25rem;
    position: fixed;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.side-bar img {
    padding: 1.5rem;
    width: 5.25rem;
    display: block;
}

div.side-bar img:hover {
    background: #D9D9D9;
    cursor: pointer;
}

div.side-bar img.setting-icon {
    margin-top: 5.25rem;
}

div.side-bar .router-link-active img {
    border-left: solid 0.5rem #CF7934;
    padding-left: 1rem;
}

div.side-content .container-fluid {
    padding-left: 7rem;
}

div.side-content .content {
    padding-left: 1rem;
}

div.diff-list table,
div.git-list table,
table.lines-list,
table.analysis-list,
table.model-list,
table.model-detail {
    width: 100%;
}

table.lines-list.added {
    border-left: solid 0.5rem #498205;
}

table.lines-list.removed {
    border-left: solid 0.5rem #DA3B01;
}

table.analysis-list td.value {
    width: 6rem;
    text-align: center;
}

table.analysis-list td.value.added {
    background: #D6E1C8;
}

table.analysis-list td.value.added.non-zero {
    background: #AEC593;
}

table.analysis-list td.value.removed {
    background: #F0C8B9;
}

table.analysis-list td.value.removed.non-zero {
    background: #E8A991;
}

div.git-list table tr td:first-child,
div.git-list table tr td:last-child  {
    width: 20%;
}

table.model-list>tbody>tr:first-child td:last-child {
    width: 10%;
    text-align: right;
    font-size: 1.25rem;
    color: #616161;
}

table thead tr {
    background: white !important;
}

table thead tr h3 {
    padding-left: 0rem;
    margin-bottom: 0rem;
}

table thead td.header {
    text-align: right;
    font-size: 1.25rem;
    color: #616161;
    vertical-align: bottom;
}

table.model-detail td.value {
    text-align: right;
}

div.diff-list table td,
div.diff-list table th,
div.git-list table td,
table.lines-list td,
table.analysis-list td,
table.model-list td {
    padding: 1.5rem;
    color: black;
}

span.weak-text,
div.git-list table td.comment {
    color: #616161;
}

table.model-list tbody:nth-child(even)
div.diff-list table tr:nth-child(even),
div.git-list table:nth-child(even) {
    background: #FFF

}

div.git-list a {
    display: block;
}

div.diff-list table tr:nth-child(odd),
div.git-list a:nth-child(odd),
div.git-list.single table,
table.lines-list tr:nth-child(odd),
table.analysis-list tr:nth-child(odd),
table.model-list tbody:nth-child(odd) {
    background: #F2F2F2

}


div.git-list.selectable a:hover,
table.analysis-list.selectable tr:hover,
table.model-list.selectable tbody tr:first-child:hover {
    background: #C3C3C3;
    text-decoration: none;
    cursor: pointer;
}

table.model-list.selectable tr.active {
    background: #CF7934;
    color: white;
}

table.model-list.selectable tr.active td {
    color: white !important;
}

table.model-list tr.content {
    background: white;
}

table.model-list tr.content>td {
    padding-bottom: 5rem;
}

div.diff-list table td.thumb {
    width: 5rem;
}

div.diff-list table td img {
    width: 2rem;
}

div.diff-list table {
    margin-bottom: 2rem;
}

div.diff-list table tr th {
    background: white;
    font-weight: normal;
    padding-left: 0rem;
}