{% raw %}
<nav class="navbar navbar-default navbar-fixed-top">
    <img (click)="goHome()" class="back-button" src="static/img/Home-64.png" />
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Software regression predictor</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="main-view">
    <div *ngIf="_alert" class="alert">
        <button (click)="_closeAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="header">{{_alert.message}}</span>
        <ul *ngIf="_alert.messages && _alert.messages.length">
            <li *ngFor="#item of _alert.messages">{{item}}</li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
<div class="status-bar">
    {{_state}}
    <span class="sub">Status</span>
</div>
{% endraw %}