{% raw %}
<div class="row">
    <div class="col-md-12">
        <div class="tools-panel">
            <span class="tool-item">{{project.repository}}</span>
            <span class="tool-item">Show: <span class="text-selection">10 items</span></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="content git-list">
            <table ng-repeat="t in [1,2,3,4,5,6,7,8,9]">
                <tr>
                    <td>2/12/2016 9:33:48 AM</td>
                    <td>d865512a2b7c71249cdf9578692d91fc8e89062c</td>
                    <td>Filip Matys</td>
                </tr>
                <tr>
                    <td class="comment" colspan="3">#32 Slightly modified current API. Split plugins API into plugins and projects and provided API to get Git projects.</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endraw %}