{% raw %}
<div class="row">
    <div class="col-md-12">
        <div class="tools-panel">
            <span class="tool-item">{{project.repository}}</span>
        </div>
    </div>
</div>

<!-- COMMIT INFO -->
<div *ngIf="commit" class="row">
    <div class="col-md-12">
        <div class="content git-list single">
            <table>
                <tr>
                    <td>{{commit.commited_time}}</td>
                    <td>{{commit.hash}}</td>
                    <td>{{commit.author}}</td>
                </tr>
                <tr>
                    <td class="comment" colspan="3">{{commit.message}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- CODE BEHAVIOUR -->
<div *ngIf="commit">
    <div class="row">
        <div class="col-md-12">
            <h3>Change predictions</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tools-panel">
                <span class="tool-item">Tests with high chance of output change: <span class="text-selection">{{changes.length}}</span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <table class="model-list">
                    <tbody *ngFor="#model of changes">
                        <tr>
                            <td>{{model.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- CODE CHANGES ANALYSIS -->
<div *ngIf="commit">
    <div class="row">
        <div class="col-md-12">
            <h3>Code changes analysis</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="toolsPanel" class="tools-panel">
                <div class="tool-item dropdown">
                    Show:
                    <span class="text-selection" id="dropdownNumberOfItemsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{toolsPanel.show}}
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownNumberOfItemsMenu">
                        <li><a (click)="showToolItem_itemSelected('all', 'All')">All</a></li>
                        <li><a (click)="showToolItem_itemSelected('changes', 'File changes')">File changes</a></li>
                        <li><a (click)="showToolItem_itemSelected('analysis', 'Analysis')">Analysis</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Iterate through changes files -->
    <div *ngFor="#file of commit.diff.files">
        <!-- Tools bar -->
        <div class="row">
            <div class="col-md-12">
                <div class="tools-panel">
                    <span class="tool-item">{{file.name}}</span>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <!-- LINES OF CODE -->
                    <div [hidden]="!showLinesOfCode">
                        <!-- Added lines -->
                        <table class="lines-list added">
                            <tr *ngFor="#line of file.added.lines">
                                <td>{{line}}</td>
                            </tr>
                        </table>
                        <!-- Removed lines -->
                        <table class="lines-list removed">
                            <tr *ngFor="#line of file.removed.lines">
                                <td>{{line}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- ANALYSIS -->
                    <div [hidden]="!showCodeAnalysis">
                        <table class="analysis-list selectable">
                            <tr *ngFor="#change of file.added.changes; #i = index">
                                <td>{{change.name}}</td>
                                <td class="added value" [ngClass]="{'non-zero': file.added.changes[i].value}">{{file.added.changes[i].value}}</td>
                                <td class="removed value" [ngClass]="{'non-zero': file.removed.changes[i].value}">{{file.removed.changes[i].value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endraw %}