{% raw %}
<div class="row">
    <div class="col-md-12">
        <div class="tools-panel">
            <span class="tool-item"><a (click)="createModel()" class="action">Create classification models</a></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tools-panel">
            <span class="tool-item single"><input type="text" placeholder="Search" [(ngModel)]="term"/></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="content">
            <table class="model-list selectable">
                <tbody *ngFor="#model of models | modelSearch:term">
                    <tr [ngClass]="{'active': model.active}" (click)="model.active = !model.active">
                        <td>{{model.name}}</td>
                        <td>{{model.accuracy | percent:'.2-2'}}</td>
                    </tr>
                    <tr class="content" *ngIf="model.active">
                        <td colspan="2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <table class="model-detail">
                                            <thead>
                                                <tr>
                                                    <td><h3>Models</h3></td>
                                                    <td class="header">Precision</td>
                                                    <td class="header">Recall</td>
                                                    <td class="header">Accuracy</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="#classifier of model.models">
                                                <tr>
                                                    <td>{{classifier.name}}</td>
                                                    <td class="value">{{classifier.precision | percent:'.2-2'}}</td>
                                                    <td class="value">{{classifier.recall | percent:'.2-2'}}</td>
                                                    <td class="value">{{classifier.accuracy | percent:'.2-2'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="model-detail">
                                            <thead>
                                                <tr>
                                                    <td><h3>Features</h3></td>
                                                    <td class="header">File</td>
                                                    <td class="header">Added/Removed</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="#feature of model.features">
                                                <tr>
                                                    <td>{{feature.change}}</td>
                                                    <td class="value">{{feature.file}}</td>
                                                    <td class="value">{{feature.state}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endraw %}